@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../font/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.about-us-container {
    padding: 20px; 
    margin-top: 20px; 
    background-color: #2C3345; 
  }
  

  .about-us-title {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat-Bold';
  }
  
  .image-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  
  .image-item {
    text-align: center;
    width: 30%; /* Ajusta el ancho del contenedor de imagen según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
  }

  .image-item img {
    width: 50%;
    height: auto;
    border-radius: 5px; /* Bordes redondeados para la imagen */
  }
  
  /* Estilos para las descripciones debajo de las imágenes */
  .image-item p {
    color: #f5f1f1; /* Cambia el color del texto según sea necesario */
    margin-top: 10px;
    font-family: 'Montserrat-SemiBold';
  }
  