@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 527px;
    width: 934px;
    background-color: #424769;
    
    border-radius: 20px;
    border: 1px solid #7473B7;
  }
  
  .login-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
    width: 100%; 
  }
  
  .login-image {
    max-width: 400px;
    margin-right: 20px;
  }
  
  .login-form {
    max-width: 400px;
    display: flex; 
    flex-direction: column;
  }

  .login-form input{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid #7473B7;
    background-color: #545770;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    margin-left: 60px;
  }

  .login-form input::placeholder{
    font: 1em 'Montserrat', sans-serif;
  }

  .login-form button{
    
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 14px;
    border : 1px solid #F8412F;
    background-color: #7C4556;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 80px;
    width: 60%;
  }
  
  .login-form h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat-Bold';
  }

  .login-form h4 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  
  }

  .login-form input {
  width: 70%; 
  
}
