/* Styles for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C3345;
  padding: 10px;
  color: white;
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/* Styles for the left part of the navigation bar */
.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/* Styles for links in the left part */
.navbar-left a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navbar-left .about{
 color: #7473B7;

}

/* Styles for the right part of the navigation bar */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Styles for the button in the right part */
.navbar-right button {
  width: 100px;
  background-color: #70373E;
  color: #F8412F;
  border-radius: 8px;
  border-color: #F8412F;
  cursor: pointer;
  margin-right: 40px;
}
